.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    
    .link {
        display: flex;

        .nav-sign-in {
            text-decoration: none;
            font-weight: bold;
            color: #2c3e50;

            .fa-user-circle {
                margin-right: 0.3rem;
            }
        }

        .sign-out-container {
            display: flex;
       
            .nav-sign-out {
                text-decoration: none;
                color: #2c3e50;
                font-weight: bold;

                &:hover{
                    text-decoration: underline;
                }

                .fa-user-circle, .icon-sign-in {
                    margin-right: 0.3rem;
                    margin-left: 0.5rem;
                }

                .name-user {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .main-nav-logo {
        display: flex;
        align-items: center;
    }

    .main-nav-logo-image {
        max-width: 100%;
        width: 200px;
    }
      
}
